<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <body class="wrap"><header>
        <div class="flexbox">
          <div class="center-on-mobiles">
            <h1>
              <a href="/" class="logo">
                <img src="img/logo.svg" width="250" alt="MindGraph Logo">
              </a>
            </h1>
          </div>
          <nav class="main-nav hide-on-mobiles">
            <ul>
        <li><a href="index_en.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="index.html">Dansk</a></li>
        </ul>
      </nav>
    {{ content }}
  </body>
</html>